:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
    --light: #EEE;
    --red: red;
	--pink: #EC4899;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

#t{
    text-align: center;
    border: solid black;
    padding: 20px 20px;
    color: var(--pink);
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #c55ecf;
	background-image: url(logo/logo3.jpg);
    
    background-repeat: no-repeat;
    background-color: wheat;
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h2{ 
	font-size: 2.5rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
}

#new-task {
	display: flex;
    margin-top: 40px;
}

input, button {
	appearance: none;
	border-radius: 1rem;
	color: red;

}

#new-input {
	flex: 1 1 0%;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
}

#new-input::placeholder {
	color: var(--grey);
}

#submit {
	background-color: var(--red);
	padding: 10px 20px;
	color: var(--light);
	font-size: 1.25rem;
	font-weight: 700;
	cursor: pointer;
	transition: 0.4s;
}

#submit:hover {
	opacity: 0.8;
}

#submit:active {
	opacity: 0.5;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}


#tyi{
    text-align: center;
    border: solid black;
    padding: 20px 20px;
    margin-left: 200px;
    margin-right: 200px;
    color: var(--pink);
    text-shadow: #111827;
}

.task-list {
	padding: 1rem;
}

.task-list h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
}

#tasks .task {
	display: flex;
	padding: 1rem;
	border-radius: 1rem;
}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	font-size: 1.125rem;
	width: 100%;
	border: none;
	padding: 10px 20px;
	color: var(--darkest);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	padding: 10px 20px;
	background-color: var(--red);
	color: var(--light);
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}
